.logo{
    width: 130px;
}
h2{
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    line-height: 32px;
    padding-bottom: 1.25rem;
}
p{
    text-decoration: none;
    color:#646464 ;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.visa{
    margin-top: 1.75rem;
    width: 185px;
    max-width: 100%;
    height: auto;
}
.text{
   padding: 30px 0;
    a{
       
        font-weight: 700;
        font-size: 24px;
        color: #000000;
        line-height: 32px;
    }
}
nav{
    flex-direction: column;
    display: flex; 
    a{
        margin-bottom: .75rem;
        color:#646464 ;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        
    }
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,221,0);
    flex-direction: row;
    gap: 30px;
    margin-top: 40px;
    a{
        color: black;
        font-size: 22px;
        margin-top: 15px
    }
}